.footer
    display: flex
    flex-direction: column
    .top
        display: flex
        flex-direction: row
        .presentation
            display: flex
            flex-direction: column
            justify-content: space-between
            width: 50%
            .phrase
                color: #fff
                font-size: clamp(1em, 1em + 1vw, 2em)
                width: 300px
                font-weight: 600
        .footer-links
            width: 50%
            display: flex
            flex-direction: row
            justify-content: space-between
@media (max-width: 770px)
    .footer
        .top
            display: flex
            flex-direction: column
            .phrase
                display: none
            .footer-links
                margin-top: 20px
                width: 100%
@media (max-width: 470px)
    .footer
        .top
            .footer-links
                margin: 0
                flex-direction: column
                ul
                    margin-top: 20px