.footer
    display: flex
    flex-direction: row
.presentation
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%
    .phrase
        color: #fff
        font-size: 2em
        max-width: 300px
        min-width: 300px
        font-weight: 600
.footer-links
    width: max-content
    display: flex
    flex-direction: row
.end-footer
    margin-top: 30px
    display: flex
    color: #999
    justify-content: space-between