$default-font-size: 1em

.header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 10px 0 10px 0
    border-bottom: 1px solid #8a8a8a41
    .significa-home
        a
            display: flex
            align-items: center
    .links
        display: flex
        flex-direction: row
        align-items: center
        .header-routes
            margin-right: 20px

@media (max-width: 770px)
    .header-routes
        display: none

@media (max-width: 400px)
    .links-gq
        display: none